
# Don't track any data files
data/

# Do not expose secrets
secrets/*
!secrets/.gitkeep

# VSCode workspace files
*.code-workspace

# Python cache
__pycache__

# Notebook checkpoints
**/.ipynb_checkpoints

# Output files
**/output.json

# Config files
**/config.pkl
